* {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

body {
    margin: 0;
    background-color: #000;
    max-width: 100%;
    height: 100%;
}

#text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 50px;
}

img {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: rotate(-45deg);
}

#giant-block {
    width: 100vw;
    height: 100vh;
    background-color: blue;
    display: none;
    position: absolute;
    bottom: -100vh;
}